<% content_for :stylesheets, stylesheet_link_tag('blog_page') %>

<div id="show_blog_post">
  <%= render 'post' %>
</div>

<%= render 'comments' %>

<%#= render '/refinery/blog/shared/body_content_right' %>
