<nav class="navbar navbar-expand-md navbar-light py-3 border-bottom fixed-top" style="background-color: #fff;">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="/">Lan's Blog</a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav">
        <% Refinery::Page.fast_menu.each do |menu| %>
          <% path = menu.link_url.present? ? menu.link_url : "/#{menu.slug}" %>
          <li class="nav-item mx-2">
          <a class="nav-link <%= 'active' if path == request.path %>" href="<%= path %>"><%= menu.title %></a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>

