<div class="mb-4">
  <div class="card border-0">
    <div class="card-body">
      <div class="button-group tags-list">
        <a href="#" role="button" class="btn btn-success btn-sm ">tag1</a>
        <a href="#" role="button" class="btn btn-success btn-sm ">tag2</a>
      </div>
      <h4 class="card-title mt-3 mb-4 underline">
        <a class="text-dark" href="/"><%= "Card title #{i}" %></a>
      </h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="post-footer">
        <span class="date"><%= Date.today %></span>
        <span class="mx-3">|</span>
        <span><i class="far fa-comment"></i>: <%= (Random.rand * 1000).to_i %></span>
        <a href="#" role="button" class="btn btn-success btn-sm float-right">Read More</a>
      </div>
    </div>
  </div>
</div>
