<section id="main_content">
  <% 5.times do |i| %>
  <%= render partial: '/refinery/long_list_item', locals: { :i =>  i } %>
  <% end %>

  <ul class="pagination">
    <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</section>
