<aside id="sidebar">
  <div class="card info-section border-0 mb-3" id="about_wrapper">
    <div class="card-body">
      <h6 class="card-title">About</h6>
      <div class="avatar">
        <%= image_tag 'avatar.png' %>
      </div>
      <p class="card-text">Hi, I'am Lan. The fullstack developer in China. Working for Beansmile in GuangZhou with very cool technology Ruby, JavaScript, etc.</p>
    </div>

  </div>
  <div class="card info-section border-0 mb-3" id="search_wrapper">
    <div class="card-body">
      <h6 class="card-title">Search</h6>
      <form id="search_box" action="/search" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search" value="<%= params[:q] %>" data-com.agilebits.onepassword.user-edited="yes">
        <button class="btn btn-success" type="submit" href="/"><i class="fas fa-search"></i></button>
    </div>

  </div>
  <div class="card info-section border-0 mb-3" id="categories_wrapper">
    <div class="card-body">
      <h6 class="card-title">Category</h6>
      <ul class="list-group list-group-flush">
        <% @categories.each do |category| %>
        <li class="list-group-item d-flex justify-content-between align-items-center px-1">
          <%= link_to(category.title, refinery.blog_category_path(category), class: 'text-success') %>
          <span class="badge badge-success"><%= category.posts.size %></span>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</aside>
