$detail-color: #ececec;

html {
  font-size: 16px;

  @include media-breakpoint-down(xs) {
    font-size: 14px;
  }
}

body {
  background: #f9f9f9;
  padding-top: 4.5rem;
}

img {
  max-width: 100%;
}

.blog-image {
  width: 100%
}

.card {
  border-radius: 0.15rem;

  .card-body {
    .avatar {
      text-align: center;
      margin-bottom: 1rem;

      img {
        width: 70px;
      }
    }
  }

  .btn-sm {
    border-radius: 0.1rem;
  }
}

.tags-list {
  .btn-sm {
    padding: 0.25rem 0.7rem;
    font-size: 0.7rem;
    line-height: 1;
  }
}

.underline {
  position: relative;

  a:hover {
    text-decoration: none;
  }

  &:after {
    content: '';
    display: block;
    height: 2px;
    background: $success;
    width: 1rem;

    position: absolute;
    bottom: -0.5rem;
  }
}

.card-text {
  font-size: 0.875rem;
  font-weight: 300;
}

.post-footer {
  font-size: 0.875rem;
  padding-top: 0.5rem;
  border-top: 1px solid #f1f1f1;

  .btn-sm {
    text-transform: uppercase;
    padding: 0.2rem 0.7rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 980px;
  }
}


.banner-image {
  width: 100%;
}

.pagination {
  .page-link {
    color: $success;
  }

  .page-item:first-child .page-link {
    border-top-left-radius: 0.15rem;
    border-bottom-left-radius: 0.15rem;
  }

  .page-item:last-child .page-link {
    border-top-right-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
  }
}

.info-section {
  .card-title {
    border-left: 2px solid $success;
    padding-left: 0.5rem;
    font-weight: 800;
    text-transform: uppercase;
  }
}

#search_box {
  input, button {
    border-radius: 0.1rem;
  }
}

/** detail page **/
.detail-title {
  font-weight: 800;
  position: relative;

  &:after {
    content: "";
    background: $success;
    display: inline-block;
    width: 0.66667em;
    height: 0.03333em;
    position: absolute;
    bottom: -0.28333em;
    left: 50%;
    margin-left: -0.33333em;
  }
}

.detail-content {
  width: 70%;
  margin: 0 auto;

  .post-footer {
    a {
      text-decoration: underline;
      color: $success;
    }

    .author img {
      width: 1.5rem;
    }
  }

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}



.post-details {
  text-align: center;
  font-size: 0.875rem;
  color: $detail-color;
}

.comments {
  margin: 30px auto;
  padding: 1em;
  max-width: 600px;
  width: 100%;

  .flash {
    color: #ff7a00;
    font-size: 0.875rem;
  }

  form {
    label {
      margin: 0;
      color: #575757;
      font-size: 0.875rem;
    }

    input, textarea {
      width: 100%;
      display: block;
      margin: 0.2rem auto 1.5rem;
      border: 1px solid $detail-color;
      border-radius: 2px;
      font-size: 1rem;
      padding: 0.3rem 0.5rem;

      &:focus {
        outline: none;
      }
    }

    input {
      line-height: 1.8rem;
    }

    textarea {
      resize: none;
    }

    input[type=submit] {
      width: auto;
      margin: 1.5rem 0 1rem auto;
    }
  }
}

.blog_comment_message {
  box-shadow: 0 0 20px -10px #000;
  background: #fff;
  padding: 20px;
  border-radius: 2px;

  footer p {
    margin: 0;
    text-align: right;
    font-size: 0.875rem;
    color: #ddd;
  }

  + .blog_comment_message {
    margin-top: 1rem;
  }
}

/* Stylesheet for blog post */
.blog-post {
  .markdown-body {
    font-weight: 300;
    letter-spacing: 1px;

    a {
      color: $success;
      font-weight: 500;
      text-decoration: underline;
    }

    bold {
      font-weight: bold;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 2rem;
    }

    h2 {
      font-size: 1.75rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.2rem;
    }

    h5 {
      font-size: 1.1rem;
    }

    h6 {
      font-size: 1rem;
    }

    code {
      color: #ff9d00;

      &.hljs {
        padding: 0.5em 1em;
      }
    }

    p {
      word-break: break-all;
    }

    blockquote {
      background: #efefef;
      border-left: 4px solid $success;
      padding: 1em;
      font-size: 16px;
      font-style: oblique;

      p {
        margin: 0;
      }
    }
  }
}
